<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <location path="images">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
    <location path="js">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:15" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="css">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:15" />
      </staticContent>
    </system.webServer>
  </location>
  <system.web>
    <compilation strict="false" explicit="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.webServer>
   <rewrite>
    <rules>
     <rule name="Redirect to https">
      <match url="(.*)"/>
      <conditions>
       <add input="{HTTPS}" pattern="Off"/>
      </conditions>
      <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"/>
     </rule>
    </rules>
   </rewrite>
  </system.webServer>
  
</configuration>